<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<a th:href="@{add}" class="btn"> ADD</a>
<div th:switch="${students}" class="container">
        <h2 th:case="null">No students yet!</h2>
        <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${students}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.first_name}"></td>
                <td th:text="${user.last_name}"></td>
                <td th:text="${user.age}"></td>
                <td><a th:href="@{edit/{id}(id=${user.id})}" class="btn">Edit</a></td>
                <td><a th:href="@{delete/{id}(id=${user.id})}" class="btn">Delete</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>